.plugin-mc-show-whitespace-disabled {
    opacity: 0.6;
}

.plugin-mc-show-whitespace-disabled .checkbox-container {
    cursor: not-allowed;
    pointer-events: none;
}

.plugin-mc-highlight {
    font-size: var(--font-smaller);
    padding: var(--pill-padding-y) var(--tag-padding-x);
    white-space: nowrap;

    background-color: var(--background-primary-alt);
    color: var(--text-muted);
    border-radius: 50px;
}

.plugin-mc-highlight.plugin-mc-high-contrast {
    background-color: hsla(var(--interactive-accent-hsl), 0.1);
    color: var(--text-accent);
}
